<a href="https://colab.research.google.com/github/Jasper-Sergio-Jasperyuu/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

indentation

In [ ]:
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

Python Comment

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variables

In [ ]:
#Single Variable with single value
x = 1
#Single Variable with multiple values
array = [1, 2, 3]
print (array)

#Multiple variables with single value
a = b = c = "Jasper"
print(a)
print(b)
print(c)

[1, 2, 3]
Jasper
Jasper
Jasper

Casting

In [1]:
n = int(4)
print(n)

4

Type() function

In [2]:
c = "Sally"
d = 5.6
print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

Double quotes or Single quotes

In [4]:
#String variables can be declared either by single or double quotes.
x = "jasper"
x = 'Jasper'
print(x)
print (type(x))

Jasper
<class 'str'>

Case Sensitivity

In [5]:
x = "Jasper"
X = "Age = 19"
#X will not overwrite x
print (x)
print (X)

Jasper
Age = 19

Multiple Variable Assignment

In [6]:
x, y, z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

Output Variables

In [11]:
x = " enjoying"
#+ is used together with print to output both text and variables
print ("Python is" + x)
#Here is another example
y = "Python is"
print (y + x)
#Another example
z = y+x
print (z)

Python is enjoying
Python is enjoying
Python is enjoying

Arithmetic and Assignment operators

In [19]:
x, y = 2.0, 3.0
sum = x + y
product = x*y
diff = x - y
quo = x/y
print (sum)
print (product)
print (diff)
print (quo)

5.0
6.0
-1.0
0.6666666666666666

Comparison and Logical Operators

In [26]:
x, y = 1, 2
if x != y:
  print("True")
  if x == y:
    print("True")
  else:
    print("False")
#I took note of the indentations said earlier :D
x != y and x<y

True
False

True

Identity Operators

In [27]:
x, y = 1, 1

x is 1

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-27-767ad8b78791>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 1

True

Bitwise Operators

In [34]:

x, y = 1, 2

x != y & x < y

True