<a href="https://colab.research.google.com/github/Jasper-Sergio-Jasperyuu/OOP-58001/blob/main/List%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [5]:
class Shape:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length*self.width
rectangle = Shape(15, 5)
rectangle.area()

75

In [3]:
array = ["Apple", "Banana", "Strawberry"]
array
array.insert(0, "Cherry")
array

['Cherry', 'Apple', 'Banana', 'Strawberry']

In [6]:
#Create your own function that will show full name and age
class Person:
  def __init__ (self, name, age):
    self.name = name
    self.age = age
  def me(self):
    return self.name, self.age
print("Please enter your name: ")
name = str(input())
print("Please type your age: ")
age = str(input())
print("Your Name is: ",name, "\nYour age is: ",age)

Please enter your name:
Jasper Sergio
Please type your age:
19
Your Name is:  Jasper Sergio
Your age is:  19

List

In [7]:
pi = 3.14159
varList = ['xyz', 3, 'zyx', 4]
varList.append('yxz')
print(varList)
varList.remove(3)
print(varList)
varList.insert(3,'123')
print(varList)

['xyz', 3, 'zyx', 4, 'yxz']
['xyz', 'zyx', 4, 'yxz']
['xyz', 'zyx', 4, '123', 'yxz']

Dictionaries

In [8]:
students = {
    1 :"ana",
    2 :"billy",
    3 :"maria",
    4 :"joy" 
}
print(students)

{1: 'ana', 2: 'billy', 3: 'maria', 4: 'joy'}