<a href="https://colab.research.google.com/github/Jasper-Sergio-Jasperyuu/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [ ]:

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)  #Only displays Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#To display only Tuesday and Wednesday
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday"]
for x in week:
  if x == "Tuesday" or x== "Wednesday":
    print(x)

Tuesday
Wednesday

Looping through a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["Apple", "Strawberry", "Cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red Apple
red Strawberry
red Cherry
big Apple
big Strawberry
big Cherry
tasty Apple
tasty Strawberry
tasty Cherry

While loop

In [ ]:
i = 0
while i < 20:
  print (i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#using break statement
i = 0
while i < 20:
  print (i)
  if i == 5:
    break
  i+=1

0
1
2
3
4
5

In [ ]:
#print only 3
i = 0
while i < 20:
  if i == 3:
    print (i) #Will print 3
    break
  i+=1

3

Lets try

In [ ]:
#Lets try
while y <= 10:
  print ("Hello", y)
  y+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [ ]:
#Less than 10 but not less than 3
x = 0
while x < 10:
  if x>2:
    print(x)
  x+=1

3
4
5
6
7
8
9

Range Function

In [2]:
#2-5
for x in range(2,6):
  print(x)

2
3
4
5

In [1]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [4]:
#increments of 2 where ([first range], [last number], [increment])
for x in range (2, 7, 2):
  print(x)

2
4
6